$dark: #2b2d42;
$clear: #f4f8fa;
$primary: #8d99ae;
// $accent: #ef233c;
$accent: #294ea3;
// $accent: #92E3A9;
// $accent: #ba68c8;
// $accent:#FF725E;
// $accent: #f2bd25;
$lightGray: rgb(248, 248, 248);
$menuHeight: 70px;
$menuWidth: 40%;
$footerHeight: 40px;
