@import '_variables';
@import '_mixins';

.navbar {
	width: 100vw;
	height: $menuHeight;
	padding: 0rem 1rem;
	@include space-apart-horizontal();
	box-shadow: 0 0 5px $dark;
	color: $dark;
	background-color: $dark;
	animation: appearOpacity 0.2s forwards;
}

.navBarIcons {
	display: flex;
	align-items: center;
	gap: 2rem;

	.cartIcon {
		font-size: 1.4rem;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			color: $accent;
		}
	}
}

.openMenuBtn,
.closeMenuBtn,
.openMenuBtn:focus,
.closeMenuBtn:focus,
.openMenuBtn:active,
.closeMenuBtn:active {
	border: none;
	background-color: $dark;
}
.openMenuBtn:hover,
.closeMenuBtn:hover {
	cursor: pointer;
	span {
		cursor: pointer;
		background-color: $accent;
	}
}

.openMenuBtn {
	background-color: $dark;
	span {
		@include menuSpanStyle();
	}
}
.closeMenuBtn {
	background-color: $clear;
	span {
		@include menuSpanStyle();

		&:nth-of-type(1) {
			transform: rotate(45deg) translateY(5px) translateX(5px);
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			transform: rotate(-45deg) translateY(-5px) translateX(5px);
		}
	}
}
