@import '_mixins';
@import '_variables';

.weAreLocated_container {
	padding: 2rem 0rem;
	opacity: 0;
	animation: appearOpacity 0.2s forwards 0.3s;

	.weAreLocated_title {
		@include h1-font-size();
		padding-bottom: 2rem;
	}
	.mapAndText_container {
		width: 100vw;
		@include center();
		padding: 0rem 1rem;

		.map_container {
			width: 50%;
			height: 30rem;
			box-shadow: 0 0 5px $dark;
			a,
			button {
				display: none;
			}
		}

		.text_container {
			width: 50%;
			text-align: center;

			h2 {
				font-weight: 500;
			}
			span {
				padding-left: 1rem;
				font-weight: 400;
			}
		}
	}
}

.whereToFindUs_link {
	cursor: pointer;
	background-color: $clear;
	padding: 0.2rem 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid $accent;
	color: $accent;
	transition: 0.15s;

	&:hover {
		background-color: $accent;
		color: $clear;
	}
}

@media (max-width: 750px) {
	.mapAndText_container {
		flex-direction: column;
		.map_container,
		.text_container {
			width: 100% !important;
		}

		.map_container {
			height: 60vh !important;
		}
	}
}
